@import url("https://fonts.googleapis.com/css?family=Teko:600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap");
$body-font-family: "Baloo Bhaina 2";
$title-font: "Teko";
$bug: #a8b820;
$dark: #705848;
$dragon: #7038f8;
$electric: #f8d030;
$fairy: #ee99ac;
$fighting: #c03028;
$fire: #f08030;
$flying: #a890f0;
$ghost: #705898;
$grass: #78c850;
$ground: #e0c068;
$ice: #98d8d8;
$normal: #a8a878;
$poison: #a040a0;
$psychic: #f85888;
$rock: #b8a038;
$steel: #b8b8d0;
$water: #6890f0;
$unknown: #68a090;

.v-application {
  font-family: $body-font-family, cursive !important;
  .title {
    font-family: $body-font-family, cursive !important;
  }
}
#app {
  font-family: $body-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(1deg, #152d2c 0%, #2a9066 100%);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
.v-application a {
  text-decoration: none;
  color: #2a9066 !important;
}

header.v-sheet.v-app-bar {
  border-bottom-left-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.v-card.v-card--hover {
  border-radius: 20px !important;
}

.v-card {
  background-color: #ffffff5e !important;
  border-color: transparent !important;
}

.v-dialog {
  background: linear-gradient(1deg, #152d2c 0%, #2a9066 100%);
  border-top-left-radius: 35px !important;
  border-top-right-radius: 35px !important;
}
h1 {
  color: #ffffff;
  text-align: center;
}

header.v-sheet.v-sheet--tile.theme--dark {
  background-color: #003459 !important;
  border-color: transparent !important;
}

button.v-btn.load-more {
  background: linear-gradient(0.31deg, #983639 0.7%, #ff686b 99.3%);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

footer.v-footer {
  background: linear-gradient(90deg, #152d2c 0%, #707070 100%);
}

/** Type of Pokemon Color */
.v-chip-bug {
  background: $bug !important;
}
.v-chip-dark {
  background: $dark !important;
}
.v-chip-dragon {
  background: $dragon !important;
}
.v-chip-electric {
  background: $electric !important;
}
.v-chip-fairy {
  background: $fairy !important;
}
.v-chip-fighting {
  background: $fighting !important;
}
.v-chip-fire {
  background: $fire !important;
}
.v-chip-flying {
  background: $flying !important;
}
.v-chip-ghost {
  background: $flying !important;
}
.v-chip-grass {
  background: $grass !important;
}
.v-chip-ground {
  background: $ground !important;
}
.v-chip-ice {
  background: $ice !important;
}
.v-chip-normal {
  background: $normal !important;
}
.v-chip-poison {
  background: $poison !important;
}
.v-chip-psychic {
  background: $psychic !important;
}
.v-chip-rock {
  background: $rock !important;
}
.v-chip-steel {
  background: $steel !important;
}
.v-chip-water {
  background: $water !important;
}
.v-chip-unknown {
  background: $unknown !important;
}
.pokegeneration .theme--light.v-tabs-items {
    background-color: transparent !important;
}

.v-window-item.v-window-item--active {
    padding: 15px;
}